<h1>Todays Attendence</h1>

<p>
  <%= @greeting %>, find me in app/views/attendence_mailer/daily_rsvps.html.erb
</p>
<h5>
  Good Morning Rabbi,
</h5> 
<p>
  Today's <%= @service.name%> at <%= @service.time%> has <%= @attendence%> people rsvp'd.
</p>
<%# maybe make a list of users that rsvp'd to see who is coming? %>
<%# find out how many rsvps a specific service has %>